In [2]:
#logical optr
#==,!=,>,<,>=,<=,and,or,in,not in,is ,is not

In [4]:
1==2,1 is 2

(False, False)

In [5]:
1!=2 , 1 is not 2

(True, True)

In [7]:
'a' in 'abcde','ac' in 'abcde'

(True, False)

In [8]:
'a' in 'abcde' and 'c' in 'abcde'

True

In [9]:
'ac' not in 'abcde'

True

In [11]:
'a' in 'abcde' or 'ac' in 'abcde'

True

In [12]:
5 and 6

6

In [13]:
0 and 6

0

In [14]:
5 or 6

5

In [15]:
0 or 6

6

In [16]:
#bitwise >>,<<,&,|,^,~

In [17]:
47>>4

2

In [18]:
115>>3

14

In [19]:
47<<3

376

In [20]:
115<<4

1840

In [21]:
bin(115)

'0b1110011'

In [22]:
7&12

4

In [23]:
7|12

15

In [24]:
7^12

11

In [25]:
~123

-124

In [26]:
~12345

-12346

In [27]:
~-123

122

In [28]:
~-11111

11110

In [29]:
a=12
b=20

In [30]:
#with 3rd
c=a
a=b
b=c
a,b

(20, 12)

In [31]:
#with 3rd 
a=10
b=20
a=a+b
b=a-b
a=a-b
a,b

(20, 10)

In [32]:
#with 3rd 
a=10
b=20
a=a*b
b=a//b
a=a//b
a,b

(20, 10)

In [33]:
#with 3rd 
a=10
b=20
a=a^b
b=a^b
a=a^b
a,b

(20, 10)

In [34]:
a,b=12,34
a

12

In [35]:
b

34

In [36]:
a,b=b,a
a

34

In [37]:
b

12

In [38]:
#association .
"hello".upper()

'HELLO'

In [39]:
#assignment lhs=rhs

In [40]:
#console input

In [41]:
#print is a function in python 3 and a instruction in python 2
#i.e in python 3 print is used with () print("hello")
#in python 2 it is print "hello"

In [43]:
print("hello")

hello

In [44]:
print("hello","welcome","to","python")

hello welcome to python

In [45]:
print("hello","welcome","to","python",sep='>>>')

hello>>>welcome>>>to>>>python

In [46]:
print("hello","welcome","to","python",sep='       ')

hello       welcome       to       python

In [48]:
a=12
b=23.45
c='hello'
print(a,b,c)
print("%d %f %s"%(a,b,c))

12 23.45 hello
12 23.450000 hello

In [49]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [50]:
#console input

In [52]:
input('enter a number') #inputs always returns a string

enter a number1234

'1234'

In [53]:
int(input('enter a number'))#when we require a int input

enter a number1234

1234

In [54]:
float(input('enter a number'))#when we require a float input

enter a number12

12.0

In [56]:
#in bool empty string is false and string whith any char is true
bool(input('enter a number'))#when we require a boolean input

enter a number

False

In [58]:
complex(input('enter a number'))#when we require a complex input

enter a number1+3j

(1+3j)

In [59]:
eval('1+2*3')

7

In [60]:
eval("print('hello')")

hello

In [61]:
eval(input("enter"))#it evaluates the string as python interpritor

enter1+2*3

7

In [62]:
eval(input("enter"))#it evaluates the string as python interpritor

enter12.34

12.34

In [63]:
eval(input("enter"))#it evaluates the string as python interpritor

enterprint("hello")
hello